#btnMore {
    margin-top: 5px;
    float: right;
}

.hidden {
    display: none !important;
}

#titlePlaying {
    font-weight: 900;
    font-family: sans-serif;
    margin-top: 5px;
    margin-left: 10px;
}

#bottomPlayer {
    padding: 0px;
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    width: 100%;
    bottom: 0;
    margin: 0px 0px 0px auto;
    display: block;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

audio {
    background-color: #dcdfe1;
}

#player {
    width: 60%;
}

#artCover {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.hl {
    background-color: #1a82fb !important;
    font-weight: bold;
    color: #ffffff;
}

.suggestions {
    margin: 0;
    padding: 0;
    position: relative;
}

.suggestions li {
    background: white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0;
    padding: 5px;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

/* PROGRESS */
.progress {
    background-color: #e5e9eb;
    height: 0.25em;
    position: relative;
    width: 100%;
    display: none;
}

.disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

.progress-bar {
    width: 0;
    background-image: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    background-size: 20em 0.25em;
    height: 100%;
    position: relative;
}

.progress-shadow {
    background-image: linear-gradient(to bottom, #eaecee, transparent);
    height: 4em;
    position: absolute;
    top: 100%;
    transform: skew(45deg);
    transform-origin: 0 0;
    width: 100%;
}

#downloadMessage {
    display: none;
}